@font-face {
    font-family: "Clickuper";
    src: url("../assets/fonts/Clickuper.ttf");
}

@font-face {
    font-family: "RFKrabuler";
    src: url("../assets/fonts/RFKrabuler.ttf");
}

$titleFont: Clickuper;
$selectFont: RFKrabuler;

@import 'Header';
@import 'Table';
@import 'CreateEvent';
@import 'Alert';
@import 'DeleteEventTooltip';

.App {
    user-select: none;
    
    .invisible {
        visibility: hidden;
    }

    .visible {
        visibility: visible;
    }
}