$titleFont: Clickuper;
$selectFont: RFKrabuler;

%tableCell {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}

%filterAndButton {
    font-size: 24px;
    padding: 5px 0 5px 0;
    border: 2px solid black;
    border-radius: 5px;
    font-family: $selectFont;
}

%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

%CreateEventText {
    padding-right: 30px;
    font-family: $selectFont;
    font-size: 20px;
}

@font-face {
    font-family: "Clickuper";
    src: url("../assets/fonts/Clickuper.ttf");
}

@font-face {
    font-family: "RFKrabuler";
    src: url("../assets/fonts/RFKrabuler.ttf");
}

.App {
    user-select: none;

    .Header {
        padding: 3% 3% 3% 3%;
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;

        &-title {
            font-size: 36px;
            font-family: $titleFont;
        }

        &-filter select {
            @extend %filterAndButton;
            width: 200px;
            padding-left: 20px;
        }

        &-button {
            :hover {
                background-color: rgb(136, 176, 250);
            }

            a {
                @extend %filterAndButton;
                display: block;
                width: 150px;
                background-color: rgb(143, 235, 143);
                padding: 5px 20px 10px 20px;
                cursor: pointer;
            }
        }
    }

    .Table {
        padding: 20px;
        width: 100%;

        th {
            @extend %tableCell;
            font-size: 14px;
            font-family: $titleFont;
            background-color: burlywood;
        }

        td {
            @extend %tableCell;
        }
    }

    .CreateEvent {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 80%;
        height: 60%;
        border: 2px solid black;
        border-radius: 10px;
        background: cadetblue;

        &-title {
            font-size: 36px;
            font-family: $titleFont;
            text-align: center;
        }

        &-name {
            @extend %flexCenter;
            padding-top: 20px;


            div {
                @extend %CreateEventText;
                width: 180px;
            }

            input {
                font-family: $selectFont;
                font-size: 20px;
                width: 220px
            }
        }

        &-users {
            @extend %flexCenter;
            padding-top: 20px;

            div {
                @extend %CreateEventText;
                width: 180px;
            }

            select {
                width: 228px;
                height: 30px;
            }
        }
    }
}