%tableCell {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}

.App {
    .Table {
        padding: 20px;
        width: 100%;

        th {
            @extend %tableCell;
            font-size: 14px;
            font-family: $titleFont;
            background-color: burlywood;
        }

        td {
            @extend %tableCell;
            width: 16%;
            padding: 5px;
        }

        .Evented {
            background-color: mediumspringgreen;

            &-container {
                display: flex;
                justify-content: space-between;
            }

            &-text {
                font-family: $selectFont;
                font-weight: 10;
                display: flex;
                align-items: center;
            }

            &-del {
                font-family: $selectFont;
                font-size: 30px;
                font-weight: 10;
                margin-left: 30px;
                background-color: red;
                padding: 0px 15px;
                border-radius: 250px;
            }
        }

    }
}