%tableCell {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}

.App {
    .Table {
        padding: 20px;
        width: 100%;

        th {
            @extend %tableCell;
            font-size: 14px;
            font-family: $titleFont;
            background-color: burlywood;
        }

        td {
            @extend %tableCell;
            width: 16%;
        }

        .Evented {
            background-color: mediumspringgreen;

            &-container {
                display: flex;
            }

            &-text {
                font-family: $selectFont;
                font-weight: 10;
            }

            &-del {
                font-family: $selectFont;
                font-weight: 10;
                margin-left: 30px;
            }
        }

    }
}